<!DOCTYPE html>
<html lang="en">
<head>   
<title>Flaskr</title>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel=stylesheet type=text/css href="{{ url_for('solar.static', filename='styles/styles.css') }}">

<script type="text/javascript" src="{{ url_for('solar.static', filename='js/charting.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('solar.static', filename='js/drawBarChart.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('solar.static', filename='js/underscore-min.js') }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
    </head>
<body>    
<div class="page container-fluid">
  <h1>Flaskr</h1>
    <div class="row">
    <div class="col-md-2" style="background-color:#FDF5E6">
    <div class="panel panel-default">
	  <div class="panel-heading">Panel Heading</div>
	  <div class="panel-body">
	  <ul class="list-group">
	  <li class="list-group-item">First item</li>
	  <li class="list-group-item">Second item</li>
	  <li class="list-group-item">Third item</li>
	</ul>	

	  </div>
	 </div>	

    </div>
    <div class="col-md-7">
    	 <div class="row"> <div class="well well-lg" style="background-color:#EEE8AA">
    	 	<center><h2>NCSOFT BI DASHBOARD </h2></center></div> </div>
    	 	<hr>
    	 	<div class="well well-lg ">{% block body %}{% endblock %}</div>

    </div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-2</div>
  </div>
 </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  
</body>
</html>


